  <!-- Footer -->
  <footer class="bg-light text-center text-lg-start pt-5" style="background-color: #C6E7FF;">
    <div class="container p-4">
      <div class="row">
        <!-- Logo de la empresa -->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <img src="logo.png" alt="Logo de la empresa" class="img-fluid">
        </div>

        <!-- Enlaces a redes sociales -->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase fw-bold mb-4">Redes sociales</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-dark"><i class="fab fa-facebook-f me-2"></i> Facebook</a></li>
            <li><a href="#" class="text-dark"><i class="fab fa-twitter me-2"></i> Twitter</a></li>
            <li><a href="#" class="text-dark"><i class="fab fa-instagram me-2"></i> Instagram</a></li>
            <li><a href="#" class="text-dark"><i class="fab fa-linkedin-in me-2"></i> LinkedIn</a></li>
          </ul>
        </div>

        <!-- Política de privacidad y aviso legal -->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase fw-bold mb-4">Información legal</h5>
          <ul class="list-unstyled">
            <li><a href="terms-and-conditions.html" class="text-dark">Condiciones de Servicio</a></li>
            <li><a href="#" class="text-dark">Política de privacidad</a></li>
            <li><a href="#" class="text-dark">Aviso legal</a></li>
          </ul>
        </div>

        <!-- Contacto y copyright -->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0 pb-5">
          <h5 class="text-uppercase fw-bold mb-4">Contacto</h5>
          <ul class="list-unstyled">
            <li>
              <a href="mailto:{{ site.email }}" class="text-dark">Contacto</a>
            </li>
          </ul>
          <p class="text-muted">&copy; 2024 Gatica y Mongelós SpA. Todos los derechos reservados.</p>
        </div>
      </div>
    </div>

    <a href="https://wa.me/+56929825990?text=Hola%2C%20necesito%20comenzar%20mi%20proyecto" class="whatsapp" target="_blank">
      <i class="fa-brands fa-whatsapp whatsapp-icon"></i>
    </a>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

  </footer>
