  <!-- Sección Hero -->
  <div class="p-5 mb-4" style="background: linear-gradient(to bottom, #ffffff, #ebcbe7); color: #333; border-bottom-left-radius: 0.5rem; border-bottom-right-radius: 0.5rem;">
    <h1 class="display-3 pt-5">¡Crea tu presencia en línea con nosotros!</h1>
    <p class="lead">Desarrollamos soluciones web personalizadas para tu negocio.</p>
    <hr class="my-4" style="border-top: 1px solid #fff;">
    <p>Elige nuestro plan básico para empezar a crecer en línea.</p>
    <p class="lead">
      <a href="#plans" class="btn btn-dark btn-lg">Consultar planes y precios</a>
    </p>

    <p class="text-center mt-4">
      <a href="https://wa.me/5211234567890?text=¡Quiero%20empezar%20mi%20proyecto!" class="btn btn-warning btn-lg" target="_blank">¡Iniciar proyecto!</a>
    </p>

  </div>
