<nav class="fixed-top shadow bg-light">
  <a href="/" class="favicon-link">
    <img src="{{ site.data.cloudinary_logos.favicon[0].url }}"
    alt="Logo"
    class="favicon-img">
    <b class="lavishly-yours-regular">Stairway</b>
  </a>

  {% for item in site.data.navigation %}
  <a href="{{ item.link }}"
  {% if page.url == item.link %} class="current"{% endif %}>
  {{ item.name }}
</a>
  {% endfor %}

  <a href="https://m.me/106648708512872" class="btn btn-primary me-1" role="button">Ask us</a>
</nav>
