<div class="container py-5" style="background-color: #FBFBFB;">
  <h2 class="text-center mb-4" id="plans">Plan Estático</h2>
  <div class="row justify-content-center">
    <!-- Servicio Integral -->
    <div class="col-lg-8 mb-4">
      <div class="card card-azul" style="color:#b30693">
        <div class="card-body">
          <h4 class="card-title">Plantillas Prediseñadas</h4>
          <ul>
            <li> Selección de plantillas prediseñadas: $5.000 CLP</li>
            <li> Personalización de la plantilla seleccionada: $10.000 CLP</li>
          </ul>
          <h4 class="card-title">Diseño Personalizado</h4>
          <ul>
            <li> Diseño personalizado de la landing page: $20.000 CLP</li>
          </ul>
          <ul>

          </ul>
          <h4 class="card-title">Caracteristicas</h4>
          <ul>

            <li><i class="fas fa-check"></i>  Diseño responsive y compatible con dispositivos móviles</li>
            <li> Contenido estático</li>
            <li><i class="fas fa-check"></i> Hosteo en GitHub Pages (gratis)</li>
            <li><i class="fas fa-check"></i> Certificado SSL (candadito de seguridad)</li>
            <li><i class="fas fa-check"></i> Botones de redirección a redes soiales</li>
            <li> Asistencia en la compra de dominio (opcional): $5.000 CLP</li>
          </ul>

          <p>Al contratar nuestro servicio, aceptas nuestros <a href="/terms-and-conditions/">Términos y Condiciones</a>.</p>
          <a href="(enlace no disponible)" id="plan-basico" class="btn btn-primary">Contratar ahora</a>
        </div>
      </div>
    </div>
  </div>
</div>
