<div class="container py-5" style="background-color: #FBFBFB;">
  <h2 class="text-center mb-4" id="plans">Planes</h2>
  <div class="row justify-content-center">
    <!-- Servicio Integral -->
    <div class="col-lg-8 mb-4">
      <div class="card card-azul" style="color:#5864a7">
        <div class="card-body">
          <h3 class="card-title">
            <i class="fas fa-rocket fa-lg icon-color "></i> Plan Básico: Landing Page Estática</h3>
          <ul>
            <li><i class="fas fa-check"></i> Diseño y desarrollo web: $20.000 CLP</li>
            <li><i class="fas fa-check"></i> Hosteo en GitHub Pages (gratis)</li>
            <li><i class="fas fa-check"></i> Certificado SSL (candadito de seguridad)</li>
            <li><i class="fas fa-check"></i> Boton de redirección a Whatsapp</li>
          </ul>
          <h4 class="card-title">Caracteristicas</h4>
          <ul>
            <li> Diseño responsive y minimalista</li>
            <li> Compatible con dispositivos móviles</li>
            <li> Contenido estático</li>
            <li> Asistencia en la compra de dominio (opcional): $5.000 CLP</li>
          </ul>
          <p>Al contratar nuestro servicio, aceptas nuestros <a href="/terms-and-conditions/">Términos y Condiciones</a>.</p>
          <a href="https://wa.me/5211234567890" id="plan-basico" class="btn btn-primary">Contratar ahora</a>
        </div>
      </div>
    </div>
  </div>
</div>
