<div class="row justify-content-center">


  <!-- Subservicio 1: Marketing Digital -->
  <div class="col-lg-3 mb-4">
    <div class="card h-100 border border-primary shadow-sm" style="background-color: #FBFBFB;">
      <div class="card-body" style="background-color: #f8f9fa; color: #333;">
        <h5 class="card-title">Marketing Digital</h5>
        <p class="card-text flex-grow-1">Estrategias para aumentar tu presencia en línea y alcanzar tus objetivos.</p>
        <span class="badge bg-warning">Próximamente</span>
      </div>
    </div>
  </div>


<!-- Subservicio 2: Optimización SEO -->
<div class="col-lg-3 mb-4">
<div class="card h-100 border border-primary shadow-sm" style="background-color: #FBFBFB;">
  <div class="card-body" style="background-color: #f8f9fa; color: #333;">
    <h5 class="card-title">Optimización SEO</h5>
    <p class="card-text flex-grow-1">Mejora la visibilidad de tu sitio web en los motores de búsqueda.</p>
    <span class="badge bg-warning"></span>
  </div>
</div>
</div>
</div>
