<div class="container">
  <h1 class="text-center mb-4" style="color: #afa04a;">Plantillas disponibles</h1>
  <div class="row justify-content-center">
    <div class="col-lg-6 mb-4">
      <div class="card h-100 border border-warning shadow-sm" style="background-color: #efdbff; box-shadow: 0 0 10px rgba(58, 56, 47, 0.5);">
        <div class="card-body">
          <h5 class="card-title" style="color: #74745a;">Plantilla 1</h5>
          <p class="card-text">Para blog, e-books, documentación, entre otros</p>
          <a href="https://stairwaycl.github.io/online-book/" class="btn btn-warning" style="background-color: #d1d2d3; border-color: #0e0d0c;" target="_blank">Ver</a>
        </div>
      </div>
    </div>
  </div>
</div>
