---
layout: default
---
<div>
  <div class="d-flex justify-content-center pt-5">
    <h1 id="gatica-y-mongelós-spa">Gatica y Mongelós SpA</h1>

  </div>

  <div class=" p-3 article-post">

    <p class="p-2">En Gatica y Mongelós SpA, nos apasionamos por crear soluciones web innovadoras y efectivas para ayudar a nuestros clientes a alcanzar sus objetivos. Nos enfocamos en diseño y desarrollo web de alta calidad.</p>

  <h2 id="nuestra-historia">Nuestra Historia</h2>
  <hr />

    <p class="pb-2">Gatica y Mongelós SpA es una empresa familiar fundada en 2021 por Erwin Gatica y Mirtha Mongelós, pareja y socios empresariales. Unimos nuestras habilidades y experiencia para ofrecer soluciones web personalizadas y efectivas.</p>

  <h2 id="nuestro-equipo">Nuestro Equipo</h2>
  <hr />

    <ul>
      <li><strong>Erwin Gatica:</strong> Diseñador y desarrollador web.</li>
      <li><strong>Mirtha Mongelós:</strong> Especialista en marketing, redes sociales y gestión empresarial.</li>
    </ul>

  <h2 id="nuestros-valores">Nuestros Valores</h2>
  <hr />

  <ul>
  <li><strong>Calidad:</strong> Nos comprometemos a brindar soluciones web de alta calidad que satisfagan las necesidades de nuestros clientes.</li>
  <li><strong>Innovación:</strong> Estamos comprometidos con la innovación y la mejora continua.</li>
  <li><strong>Confianza:</strong> Brindamos soluciones transparentes y efectivas.</li>
  </ul>

  <h2 id="qué-hacemos">¿Qué Hacemos?</h2>
  <hr />

  <ul>
  <li><strong>Diseño web:</strong> Creamos diseños web atractivos y funcionales.</li>
  <li><strong>Desarrollo web:</strong> Desarrollamos sitios web personalizados y responsivos.</li>
  </ul>

  <h2 id="contacto">Contacto</h2>
  <hr />

  <ul>
  <li>Correo electrónico: <a href="mailto:stairway.cl@gmail.com">stairway.cl@gmail.com</a></li>
  </ul>

  <h2 class="pt-5 d-flex justify-content-center" id="visión-y-misión">Visión y Misión</h2>
  <hr />


  <h3 id="visión">Visión</h3>

  <p>Ser una empresa líder en diseño y desarrollo web en Chile, reconocida por nuestra innovación y calidad.</p>

  <h3 id="misión">Misión</h3>

  <p>Ofrecer soluciones web personalizadas y efectivas que ayuden a nuestros clientes a alcanzar sus objetivos, mediante un enfoque innovador.</p>

  <h3 id="objetivos">Objetivos</h3>

  <ul>
  <li>Desarrollar sitios web de alta calidad para nuestros clientes.</li>
  <li>Ser reconocidos como expertos en diseño y desarrollo web en Chile.</li>
  </ul>

    </div>


</div>
